@{
    ViewData["Title"] = "Home Page";
}

<div class=" card text-center card-header ">
    <h1 class="display-4"></h1>
    <h3>JokesWebApp</h3>
</div>

<div class=" card text-center card-body ">
    <h1 class="display-4"></h1>
    <h6>
        JokesWebApp is a basic web application using ASP.NET (Active Server Pages); the famous freamwork of C# language,
        it is a crud application that manipulate jokes by creating,reading,updating,deleting,filtring ones.
        The main purpose of this application is to discover the environment of ASP.NET and how it works.
        Enjoy funny jokes ...
    </h6>
</div>

